
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 1200px) {
  .header {
    flex-wrap: wrap;
  }
}
