
.wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 980px;
  }
}

@media (max-width: 980px) {
  .wrapper {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 480px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    max-width: 100%;
  }
}
